{{>layouts/header}}

<table class="table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#article}}
    <tr>
        <th>{{id}}</th>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>

<!--메인화면-->
<a href="/articles" class="btn btn-primary">Article List</a>

<!--새로운 글쓰기-->
<a href="/articles/new" class="btn btn-primary">New Article</a>

<!--수정-->
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>

<!--삭제-->
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>

{{>comments/_comments}}

{{>layouts/footer}}